* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e5d907;
    background-image: linear-gradient(62deg, #e5d907 0%, #F7CE68 100%);
}

.link-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px auto;
    gap: 20px;
}

.link-bio img {
    width: 140px;
    height: 150px;
    margin-right: 2ch;
}

.link-bio h1 {
    font-size: 30px;
    margin-right: 1cap;
}

.link {
    width: 80%;
    margin-left: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2vh;
    border-radius: 100px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

.link-button ul {
    margin-left: 10%;
}

link:hover {
    background-color: rgb(225, 245, 178);
    transform: scale(1.05);
    transition-duration: 1s;
}

p {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: 3vh;
    margin-right: 2cap;
}

footer a {
    text-align: center;
    color: red;
    font-size: 15px;
    margin-top: 3vh;
    margin-right: 2cap;
}