* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(0deg, black, white, gold, black);
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px auto;
    gap: 20px;
}

.logo {
    width: 140px;
    height: 150px;
    margin-right: 2ch;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px auto;
    gap: 20px;
}

.cabecera {
    padding: 15px;
    margin-top: -3vh;
    font-size: 30px;
    margin-right: 0.1ch;
}

.cabecera2 {
    margin-top: -5vh;
    width: 15px;
    margin-right: 14ch;
}


button.link {
    width: 35%;
    margin-left: 32%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2vh;
    border-radius: 100px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

.derechos {
    text-align: center;
    color: gold;
    font-size: 15px;
    margin-top: 3vh;
    margin-right: -1%;
}

.email {
    text-align: center;
    font-size: 15px;
    margin-right: -1vh;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}